<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>图床历史</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/mystyle.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/Message.js"></script>
    <link rel="icon" href="../static/images/favicon.png"/>
</head>
<body>
<div id="left-gg"></div>
<div id="right-gg"></div>
<div class="header">
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-lg12">

                <div class="layui-hide-xs menu">
                    <ul class="layui-nav" lay-filter="">
                        <li class="layui-nav-item"><a id="/list"><i class="layui-icon"></i> 图床仓库</a></li>
                        <li class="layui-nav-item"><a id="alert2"><i class="layui-icon"></i> 使用协议</a></li>
                        <span class="layui-nav-bar"></span></ul>
                </div>
                <div class="menu layui-hide-lg layui-hide-md layui-hide-sm">
                    <ul class="layui-nav" lay-filter="">
                        <li class="layui-nav-item"><a id="alert"><i class="layui-icon"></i> 使用协议</a></li>
                        <span class="layui-nav-bar" style="left: 62.9375px; top: 55px; width: 0px; opacity: 0;"></span>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 顶部导航栏END -->
<div class="layui-container">
    <div class="layui-row">
        <!-- 首页主要区域 -->
        <div class="layui-col-lg12">
            <div id="main">
                <div class="alert alert-warning" role="alert">
                    <span class="alert-inner--icon"><i class="layui-icon"></i></span>
                    <span class="alert-inner--text">仅支持单文件,大小限制2MB,本站图床存储于<a style="color: red;"
                                                                             href="https://github.com/">Github</a>且由<a
                            style="color: red;" href="https://www.jsdelivr.com/">Jsdelivr</a>提供全球CDN加速
                        <br>&nbsp;&nbsp; 项目地址:<a style="color: red;" href="https://github.com/wangchuanli001/cdn">https://github.com/wangchuanli001/cdn</a>
                        <br>&nbsp;&nbsp; 存储地址:<a style="color: red;" href="https://github.com/wangchuanli001/FileHub01">https://github.com/wangchuanli001/FileHub01</a>
		</span>
                </div>


                <!-- 上传区域 -->
                <div class="layui-row">
                    <table class="layui-table" lay-size="lg">
                        <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>仓库名</th>
                                <th>文件预览</th>
                                <th>文件大小</th>
                                <th>地址</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="file:${FileList}">
                                <td th:text="${file.repo}"></td>
                                <td>
                                    <img th:src="${file.url}" style="width: 150px;height: 150px">
                                </td>
                                <td th:text="${file.fileLength}"></td>
                                <td>
                                    <input th:value="${file.url}" type="text" class="layui-input" id="url" data-cip-id="url">
                                    <a href="javascript:;" class="layui-btn layui-btn-sm" onclick="copyurl('url')">复制</a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </table>
                </div>
                <!-- 上传区域END -->
            </div>
        </div>
    </div>

</div>
<script src="../static/layui/layui.js"></script>
<script src="../static/js/embed.js"></script>
<script src="../static/js/clipBoard.min.js"></script>
<script> document.getElementById('alert').onclick = function () {
    alert('<ul><li>不得上传色情、暴力、政治的内容</li><li>不得上传侵犯版权、隐私权的内容</li><li>违反规定直接删除图片不另行通知</li><li>所有图片仅供网站内部使用</li></ul>')
} </script>
<script> document.getElementById('alert2').onclick = function () {
    alert('<ul><li>不得上传色情、暴力、政治的内容</li><li>不得上传侵犯版权、隐私权的内容</li><li>违反规定直接删除图片不另行通知</li><li>所有图片仅供网站内部使用</li></ul>')
} </script>
</body>
</html>